.skills-main-div {
  display: grid;
  grid-template-columns: 3fr 2fr;
  min-height: 400px;
  overflow: hidden;
  align-items: stretch;
  gap: 30px;
}

.skills-body-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.skills-header {
  font-size: 60px;
  line-height: normal;
  font-family: "Google Sans Regular";
  text-align: left;
  margin: 0;
  padding: 0;
}

.skills-text {
  font-size: 20px;
}

.skills-text-div {
  flex: 3;
  font-family: "Google Sans Regular";
  margin: 0;
  padding: 0;
}

.skills-main-div > * {
  flex: 1;
  margin-bottom: 30px;
}

.skills-image-div {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.skills-image-div > * {
  max-width: 100%;
  height: auto;
  margin-top: 20px;
}

.skills-heading {
  font-size: 56px;
  font-weight: 400;
  font-family: "Google Sans Regular";
  line-height: normal;
  text-align: left;
  margin-top: 1rem;
  margin-bottom: 0;
}

h2.skills-heading {
  font-size: 32px;
  margin-top: 0.8rem;
  margin-bottom: 2rem;
}

/* Media Query */
@media (max-width: 1380px) {
  .skills-heading {
    font-size: 40px;
  }

  .skills-header {
    font-size: 50px;
  }

  h2.skills-heading {
    font-size: 24px;
  }

  /* .skills-image-div > img {
    margin-top: 0px;
  } */
}

@media (max-width: 834px) {
  .skills-heading {
    font-size: 30px;
    text-align: center;
  }

  .skills-header {
    font-size: 30px;
    text-align: center;
  }

  .greeting-text-p {
    font-size: 16px;
    line-height: normal;
  }

  .skills-main-div {
    grid-template-columns: 1fr;
    min-height: auto;
    flex-direction: column;
  }

  .skills-text {
    font-size: 16px;
  }

  .skills-text-subtitle {
    font-size: 16px;
    text-align: center;
  }

  .skills-image-div {
    order: 2;
    justify-content: center;
    flex: 1;
  }

  .skills-image-div > * {
    margin-top: 0px;
  }
}

@media (max-width: 440px) {
  .skills-image-div {
    display: none;
  }

  .skills-main-div > * {
    margin-bottom: 0;
  }

  .skills-text {
    font-size: 20px;
  }

  #skills.main {
    margin-top: 0;
  }
}
