.main-button {
  color: white;
  font-weight: 500;
  line-height: 1.1;
  width: max-content;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  text-align: center;
  text-decoration: none;
  font-family: var(--font-jakarta);
  display: block;
  font-size: 1.25rem;
  cursor: pointer;
  letter-spacing: 2px;
  outline: none;
}

.main-button:hover {
  transition: ease-in 0.3s;
}

.main-button:focus {
  outline: none;
}

/* Media Query */
@media (min-width: 1920px) {
  .main-button {
    border-radius: 1rem;
    padding: 1.25rem 1.5rem;
  }
}