.blog-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 20px;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@media (max-width: 1024px) {
  .blog-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 834px) {
  .blog-grid {
    grid-template-columns: 1fr;
    margin-bottom: 2rem;
  }
}