.error-header {
  display: flex;
  width: 90%;
  flex-direction: column;
}

.error-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
  padding: 0;
  justify-content: center;
  flex: 1;
}

.error-class {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0;
  gap: 2rem;
}

.error-404 {
  font-size: 2rem;
  margin-top: 1rem;
  line-height: 1.2;
  margin: 0;
}

.error-class-img {
  width: 100%;
  height: auto;
  border-radius: 0.75rem;
}

.main-button {
  background-color: #55198b;
  border: solid 1px #55198b;
  color: white;
  font-weight: 500;
  line-height: 1.1;
  width: max-content;
  padding: 13px 22px;
  margin-right: 0px;
  border-radius: 6px;
  text-align: center;
  text-decoration: none;
  font-family: var(--font-jakarta);
  display: block;
  font-size: 18px;
  cursor: pointer;
  letter-spacing: 2px;
}

@media (min-width: 768px) {
  .error-404 {
    font-size: 4rem;
  }

  .error-class {
    gap: 4rem;
  }
}

@media (min-width: 1024px) {
  .error-class-img {
    width: 60%;
    height: auto;
  }
}

@media (min-width: 1440px) {
  .main-button {
    font-size: 1.75rem;
  }
}
