.blog-header {
  text-align: center;
  padding: 0;
  padding-bottom: 1rem;
}

.blog-header-text {
  font-size: 1.75rem;
  margin-bottom: 1rem;
  font-weight: bold;
}

.blog-subtitle {
  font-size: 1.25rem;
}

@media (min-width: 768px) {
  .blog-header-text {
    font-size: 2.25rem;
  }

  .blog-subtitle {
    font-size: 1.5rem;
  }
}

@media (min-width: 1024px) {
  .blog-header-text {
    font-size: 3.5rem;
  }

  .blog-subtitle {
    font-size: 2rem;
  }
}

@media (min-width: 1440px) {
  .blog-header-text {
    font-size: 4.5rem;
  }

  .blog-subtitle {
    font-size: 2.5rem;
  }
}
