.repo-card-div {
  color: rgb(88, 96, 105);
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 10px 30px -10px;
  padding: 1.25rem;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0;
  border-radius: 0.75rem;
}

.repo-card-div:hover {
  box-shadow: rgba(0, 0, 0, 0.45) 0px 20px 40px -5px;
}

.repo-stats {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  flex-grow: 1;
  align-items: flex-end;
  font-size: 13px;
  color: rgb(106, 115, 125);
}

.repo-stats p {
  margin: 0;
}

.repo-left-stat {
  -webkit-box-flex: 1;
  flex-grow: 1;
  display: flex;
}

.language-color {
  width: 10px;
  height: 10px;
  background-color: #0000ff;
  margin-right: 0.25rem;
  border-radius: 100%;
}

.repo-left-stat span {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  margin-right: 0.75rem;
}

.repo-name-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.repo-svg {
  margin: 0;
  min-width: 16px;
}

.repo-name {
  white-space: nowrap;
  text-overflow: ellipsis;
  color: rgb(36, 41, 46);
  font-size: 1rem;
  font-weight: 600;
  overflow: hidden;
  margin: 0;
  width: 100%;
}

.repo-star-svg {
  margin-right: 0.3rem;
}

.repo-description {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-height: 1.5;
}

@media (min-width: 480px) {
  .repo-name {
    font-size: 1.75rem;
  }

  .repo-stats p {
    font-size: 1rem;
  }
}

@media (min-width: 768px) {
  .repo-name {
    font-size: 1.4rem;
  }

  .repo-stats p {
    font-size: 0.8rem;
  }

  .repo-card-div {
    padding: 1.5rem;
  }

  .repo-description {
    -webkit-line-clamp: 3;
  }
}

@media (min-width: 1024px) {
  .repo-name {
    font-size: 1.25rem;
  }

  .repo-description {
    -webkit-line-clamp: 2;
  }
}

@media (min-width: 1920px) {
  .repo-name {
    font-size: 2rem;
  }

  .repo-svg {
    width: 1.5rem;
    height: 2rem;
  }

  .repo-stats p {
    font-size: 1.125rem;
  }
}
