.greeting-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  width: 100%;
}

.greeting-content {
  display: grid;
  align-items: center;
  justify-content: space-between;
  gap: 1.25rem;
  margin: 0;
  width: 100%;
}

.greeting-image-div {
  display: none;
}

.button-greeting-div {
  display: flex;
  justify-content: center;
}

.greeting-text-p {
  line-height: 1.75;
  font-weight: 600;
  margin: 0;
  text-align: left;
  word-wrap: break-word;
}

.greeting-image-div>* {
  max-width: 100%;
  height: auto;
}

@media (min-width: 1024px) {
  .greeting-main {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .button-greeting-div {
    justify-content: flex-start;
  }

  .greeting-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .greeting-image-div {
    display: block;
    max-width: 40%;
    justify-content: flex-end;
    align-items: center;
  }
}

@media (min-width: 1440px) {
  .greeting-content {
    gap: 2rem;
  }

  .greeting-main {
    gap: 16rem;
  }
}