.home-container {
  width: 80%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0;
  display: grid;
  gap: 4rem;
  padding-bottom: 4rem;
  justify-items: center;
  grid-template-columns: minmax(0, 1fr);
}

.home-header {
  max-width: 1440px;
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  padding-bottom: 1.75rem;
  justify-items: center;
}

.home-header > * {
  width: 100%;
}

.title {
  font-size: 2rem;
  font-family: var(--font-bold);
  font-weight: 700;
  margin: 0;
  text-align: center;
}

.text {
  font-size: 1.25rem;
  font-family: var(--font-bold);
}

.subText {
  font-size: 1rem;
  font-family: var(--font-jakarta);
}

@media screen and (min-width: 480px) {
  .home-header {
    padding-bottom: 4rem;
  }

  .subText {
    font-size: 1.25rem;
  }
}

@media screen and (min-width: 768px) {
  .home-container {
    width: 90%;
  }

  .title {
    font-size: 3rem;
  }

  .text {
    font-size: 1.5rem;
  }

  .subText {
    font-size: 1rem;
  }
}

@media screen and (min-width: 1024px) {
  .title {
    text-align: left;
  }

  .text {
    font-size: 1.5rem;
  }

  .home-container {
    gap: 8rem;
  }

  .home-container > *:nth-last-child(2) {
    margin-bottom: -4rem;
  }
}

@media screen and (min-width: 1440px) {
  .title {
    font-size: 3.5rem;
  }

  .text {
    font-size: 1.75rem;
  }

  .subText {
    font-size: 1.125rem;
  }
}
