html,
body {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-family: var(--font-jakarta), BlinkMacSystemFont, -apple-system, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

body {
  align-items: center;
  background: #EDF9FE;
  color: #001C55;
  display: flex;
  transition: all 0.25s linear;
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#root {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  position: relative;
  padding-bottom: 8rem;
  /* Adjust this value based on your footer height */
}

.subTitle {
  color: #868e96;
}

@media (max-width: 1440px) {
  #root {
    padding-bottom: 7rem;
  }
}

@media (max-width: 1024px) {
  #root {
    padding-bottom: 6rem;
  }
}

@media (max-width: 834px) {
  #root {
    padding-bottom: 7rem;
  }
}

@media (max-width: 440px) {
  #root {
    padding-bottom: 11rem;
  }
}