html,
body {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-family: var(--font-jakarta), BlinkMacSystemFont, -apple-system,
    "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

body {
  align-items: center;
  background: #edf9fe;
  color: #001c55;
  display: flex;
  transition: all 0.25s linear;
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#root {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  position: relative;
}
