.blog-container {
  width: 90%;
  margin: 0;
  padding: 0;
  flex: 1;
}

.blog-content-wrapper {
  max-width: 1200px;
  align-items: center;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
