.blog-container {
  width: 90%;
  max-width: 1440px;
  margin: 0;
  padding: 0;
  flex: 1;
  padding-bottom: 1.25rem;
}

.blog-content-wrapper {
  align-items: center;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

@media (min-width: 1440px) {
  .blog-container {
    padding-bottom: 2rem;
  }
}
