.social-media-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-size: 2em;
}

.icon-button i {
  color: white;
  border-radius: 2.6rem;
  cursor: pointer;
  display: inline-block;
  font-size: 1.3rem;
  height: 2.6rem;
  line-height: 2.6rem;
  margin: 5px;
  position: relative;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 2.6rem;
}

@media (min-width: 1024px) {
  .social-media-div {
    justify-content: flex-start;
  }
}

@media (min-width: 1440px) {
  .social-media-div {
    font-size: 2.5em;
  }

  .icon-button i {
    font-size: 1.6rem;
    height: 3.2rem;
    width: 3.2rem;
    line-height: 3.2rem;
  }
}
