.footer-main {
  width: 100%;
  background-color: #f5f5f5;
  border-top: 1px solid #e9ecef;
}

.footer-div {
  width: 90%;
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 100%;
  gap: 0.9rem;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  width: 100%;
  padding: 0.5rem 0;
}

.footer-logo {
  font-family: var(--font-logo);
  font-weight: 700;
  font-size: 1.25rem;
}

.footer-social {
  margin: 0;
  gap: 0.5rem;
}

.footer-text {
  text-align: center;
  font-weight: 400;
  margin: 0;
  width: 100%;
}

.social-media-div {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .footer-top {
    flex-direction: row;
  }

  .footer-text {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media (min-width: 1440px) {
  .footer-logo {
    font-size: 1.5rem;
  }

  .footer-text {
    font-size: 1.25rem;
  }
}
